<header class="header-area" style="top: 0px; background: white">
    <!-- Navbar Area -->
    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 85px;">
        <div class="oneMusic-main-menu" style="">
            <div class="classy-nav-container breakpoint-off light left">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="/admin" class="nav-brand"><img src="/img/core-img/logo-black.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu w-lg-100">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav text-dark">

                                <div class="d-lg-flex align-items-center justify-content-lg-between w-lg-100 text-dark">
                                    <ul>
                                        <li><a href="/admin" class="text-dark">Admin Home</a></li>
                                        <li><a href="/admin/product" class="text-dark">Product</a></li>
                                        <li><a href="/admin/product/refund" class="text-dark">Refund</a></li>
                                    </ul>

                                    <ul>
                                        <li><a href="/" class="text-dark"><i class="icon-return pr-3"></i>Main Site</a></li>
                                    </ul>
                                </div>

                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
