<!DOCTYPE html>
<html>

<head>
    <% include ../app/head.ejs %>
    <script>
        window.onload = () => {
            let albumId = <%= album_id %>

            function previewThumbnail(event) {
                let input = event.target;

                if (input.files[0]) {
                    $('.img-thumbnail').attr('src', URL.createObjectURL(input.files[0]));
                    $('.img-thumbnail').one('load', (event) => {
                        $('.img-thumbnail').show();
                    })
                    $('.img-thumbnail').one('error', (event) => {
                        $('.img-thumbnail').hide();
                    })
                }
            }
            $('#thumbnail').on('change', previewThumbnail);
            let Track = class {
                constructor(id, title, artist, length, price, quantity, file) {
                    this.id = id;
                    this.title = title;
                    this.artist = artist;
                    this.length = length;
                    this.price = price;
                    this.quantity = quantity;
                    this.file = file;
                    this.dom = null;
                }
            }
            let removeList = [];
            let trackList = [];
            let removeTrcak = (event) => {
                let addTrackRow = $(event.target).closest('.add-track-row');
                let id = addTrackRow.attr('data-id');

                removeList.push(trackList[id]);
                addTrackRow.next().remove();
                addTrackRow.remove();
                trackList.splice(id, 1);
                console.log(removeList)
            }
            let addTrack = async (track) => {
                if (track) {
                    let randId = Date.now();
                    let trackRow = $(`
                                <tr class="add-track-row" data-id="${trackList.length}">
                                    <td class="add-track-col"><input type="text" class="form-control track-title h-100" /></td>
                                    <td class="add-track-col"><input type="text" class="form-control track-artist h-100" /></td>
                                    <td class="add-track-col"><input type="number" class="form-control track-price" /></td>
                                    <td class="add-track-col"><input type="number" class="form-control track-quantity" /></td>
                                    <td class="add-track-col">
                                        <div class="custom-file">
                                            <label for="${randId}" class="custom-file-label"></label>
                                            <div class="col-sm-2">
                                                <input type="file" id="${randId}" class="custom-file-input track-file h-100"
                                                    accept=".wav, .mp3, .ogg" required />
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right add-track-col">
                                        <button class="btn btn-dark btn-xs h-100 remove-track">Remove</button>
                                    </td>
                                </tr>
                                <tr class="track-audio-row" data-id="${trackList.length}">
                                    <td class="track-audio-col" colspan="6">
                                        <audio controls class="audio-player">
                                            <source class="audio-source">
                                        </audio>
                                    </td>
                                </tr>
                                `);

                    $('#add-track-container').append(trackRow);

                    trackRow.next().hide();
                    trackRow.find('.track-file').prop({
                        readonly: true,
                        disabled: true
                    });
                    trackRow.find('.track-file').on('change', (event) => {
                        let input = event.target;

                        if (input.files[0]) {
                            let audioPlayer = trackRow.next().find('.audio-player');
                            let audioSource = trackRow.next().find('.audio-source');

                            audioSource.attr('type', input.files[0].type);
                            audioSource.attr('src', URL.createObjectURL(input.files[0]));
                            audioPlayer.one('canplay', (event) => {
                                trackRow.next().show();
                            });
                            audioPlayer.one('abort', (event) => {
                                trackRow.next().hide();
                            });
                            audioPlayer[0].load();
                        }
                    });

                    trackRow.find('.remove-track').on('click', (event) => {
                        event.preventDefault()
                    }).on('click.remove-track', removeTrcak);

                    let addTrackRow = $($('.add-track-row').get(trackList.length))
                    let id;
                    let title;
                    let artist;
                    let length;
                    let quantity;
                    let price;
                    let file;

                    console.log(trackList.length)
                    id = trackList.length;
                    title = track.title;
                    artist = track.artist;
                    quantity = track.quantity;
                    price = track.price;
                    file = await axios.get(`/album/full/${track.file}`, {
                        responseType: 'blob'
                    }).then((res) => {
                        return Promise.resolve(res.data);
                    });
                    addTrackRow.attr('data-id', id);
                    addTrackRow.attr('data-real-id', track.id);
                    addTrackRow.find('.track-title').val(title);
                    addTrackRow.find('.track-artist').val(artist);
                    addTrackRow.find('.track-quantity').val(quantity);
                    addTrackRow.find('.track-price').val(price);

                    console.log(addTrackRow.next())
                    let audioPlayer = addTrackRow.next().find('.audio-player');
                    let audioSource = addTrackRow.next().find('.audio-source');

                    audioSource.attr('src', URL.createObjectURL(file));
                    audioPlayer.one('canplay', (event) => {
                        trackList[id].length = audioPlayer.prop('duration');
                        addTrackRow.next().show();
                    });
                    audioPlayer.one('abort', (event) => {
                        addTrackRow.next().hide();
                    });
                    audioPlayer[0].load();
                    let newTrack = new Track(track.id, title, artist, length, price, quantity, file);

                    newTrack.dom = addTrackRow;
                    trackList[id] = newTrack;
                }
                console.log(trackList)
            }

            addTrack();
            $('#datetimepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
            $('#add-album-submit').on('click', (event) => {
                let formdata = new FormData();
                let id = $('#add-track-container').attr('data-id');
                let thumbnail = $('#thumbnail').prop('files')[0];
                let title = $('#title').val();
                let artist = $('#artist').val();
                let label = $('#label').val();
                let release_date = $('#release_date').val();

                formdata.append('id', id);
                if (thumbnail) {
                    formdata.append('thumbnail', thumbnail);
                }
                formdata.append('title', title);
                formdata.append('artist', artist);
                formdata.append('label', label);
                formdata.append('release_date', release_date);
                formdata.append('remove_length', removeList.length);
                formdata.append('track_length', trackList.length);

                for (let i = 0; i < removeList.length; i++) {
                    formdata.append(`removeList[${i}].id`, removeList[i].id);
                    formdata.append(`removeList[${i}].title`, removeList[i].title);
                    formdata.append(`removeList[${i}].artist`, removeList[i].artist);
                    formdata.append(`removeList[${i}].length`, removeList[i].length);
                    formdata.append(`removeList[${i}].price`, removeList[i].price);
                    formdata.append(`removeList[${i}].quantity`, removeList[i].quantity);
                }
                for (let i = 0; i < trackList.length; i++) {
                    formdata.append(`trackList[${i}].id`, trackList[i].id);
                    formdata.append(`trackList[${i}].title`, trackList[i].dom.find('.track-title').val());
                    formdata.append(`trackList[${i}].artist`, trackList[i].dom.find('.track-artist').val());
                    formdata.append(`trackList[${i}].price`, trackList[i].dom.find('.track-price').val());
                    formdata.append(`trackList[${i}].quantity`, trackList[i].dom.find('.track-quantity').val());
                }

                $.ajax({
                    url: '/admin/product/management',
                    type: 'POST',
                    cache: false,
                    data: formdata,
                    processData: false,
                    contentType: false
                }).done(function (res) {
                    document.open();
                    document.write(res);
                    document.close();
                    $.cache = {};
                })
                event.preventDefault();
            });

            axios.get(`/admin/product/${albumId}`).then(async (res) => {
                let albumList = res.data;

                console.log(albumList);
                for (let key in albumList) {
                    let album = albumList[key];

                    $('#add-track-container').attr('data-id', album.id);
                    axios.get(`/album/thumbnail/${album.thumbnail}`, {
                        responseType: 'blob'
                    }).then((res) => {
                        $('.img-thumbnail').attr('src', URL.createObjectURL(res.data));
                        $('.img-thumbnail').one('load', (event) => {
                            $('.img-thumbnail').show();
                        })
                        $('.img-thumbnail').one('error', (event) => {
                            $('.img-thumbnail').hide();
                        })
                    });
                    $('#title').val(album.title);
                    $('#artist').val(album.artist);
                    $('#label').val(album.label);
                    $('#release_date').val(moment(album.release_date).format('YYYY-MM-DD'));

                    for (let key2 in album.tracks) {
                        await addTrack(album.tracks[key2]);
                    }
                }
            })
        }
    </script>
</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <% include ./header.ejs %>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay"
        style="background-image: url(/img/bg-img/breadcumb3.jpg); max-height: 200px">
        <div class="bradcumbContent">
            <h2>Update Product</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Add Album Form Start ##### -->
    <section class="cart-area padding-y-20 padding-y-md-50">
        <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-sm-9">
                    <div class="row d-flex justify-content-center mb-5">
                        <img class="img-thumbnail rounded w-25 h-25" style="display: none;" />
                    </div>
                    <form action="#" method="post" enctype="multipart/form-data">
                        <div class="form-group row">
                            <div class="custom-file">
                                <label for="thumbnail" class="custom-file-label">Choose a thumbnail...</label>
                                <div class="col-sm-10">
                                    <input type="file" id="thumbnail" name="thumbnail" class="custom-file-input"
                                        accept=".jpg, .png" required />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="title" class="col-sm-2 col-form-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" id="title" name="title" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="artist" class="col-sm-2 col-form-label">Artist</label>
                            <div class="col-sm-10">
                                <input type="text" id="artist" name="artist" class="form-control" required />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="label" class="col-sm-2 col-form-label">Label</label>
                            <div class="col-sm-10">
                                <input type="text" id="label" name="label" class="form-control" required />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="release_date" class="col-sm-2 col-form-label">Release Date</label>
                            <div class="col-sm-5">
                                <div class='input-group date' id='datetimepicker'>
                                    <input type='text' id="release_date" name="release_date" class="form-control" />
                                    <div class="input-group-addon input-group-append">
                                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <table class="table table-cs mt-3 mb-0" width="100%">
                            <thead>
                                <tr>
                                    <th class="w-1">Title</th>
                                    <th class="w-1">Artist</th>
                                    <th class="w-1">Price</th>
                                    <th class="w-1">Quantity</th>
                                    <th class="w-1">File</th>
                                    <th class="w-1"></th>
                                </tr>
                            </thead>
                            <tbody id="add-track-container">

                            </tbody>
                        </table>
                        <p class="text-danger text-right font-size-30 font-weight-bold">Press "Add" after enter a track information.</p>
                        <% include ../app/errMessage.ejs %>
                        <button type="submit" id="add-album-submit" class="btn oneMusic-btn btn-2 m-2">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Add Album Form End ##### -->

    <% include ../app/footer.ejs %>
    <style>
        .add-track-col {
            height: 30px;
        }

        .row-container {
            height: 100%;
        }
    </style>
</body>

</html>
