<!DOCTYPE html>
<html>
<head>
    <% include ../app/head.ejs %>
</head>
<body>
<!-- ##### Header Area Start ##### -->
<% include ../app/header.ejs %>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/img/bg-img/breadcumb3.jpg); max-height: 200px">
    <div class="bradcumbContent">
        <h2>Checkout</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Cart Area Start ##### -->
<section class="cart-area padding-y-20 padding-y-md-50">
    <div class="container">
        <div class="row">

            <div class="col-12 new-hits-area padding-30">
                <div class="d-flex justify-content-between">
                    <h1 class="mr-2"><span class="font-weight-normal">Total: </span>$<%= totalPrice %></h1>
                    <h2><i class="far fa-gem"></i> <%= point %> LP</h2>
                </div>

                <div class="contact-form-area">
                    <form action="/checkout" method="post">
                        <div class="row">

                            <% if (point !== 0){ %>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="font-size-20"><i class="far fa-gem"></i> Loyalty points to use in this order. </label>
                                        <input type="number" class="form-control text-dark" id="point" name="point" placeholder="LP Amount" max="777"
                                               value="0">
                                    </div>
                                </div>
                            <% } %>
                            <div class="col-md-6 col-lg-4">
                                <label class="font-size-20">Payment method</label>
                                <div class="form-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="payment" id="inlineRadio1" value="0">
                                        <label class="form-check-label" for="inlineRadio1">Credit Card</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="payment" id="inlineRadio2" value="1">
                                        <label class="form-check-label" for="inlineRadio2">PayPal</label>
                                    </div>

                                </div>


                            </div>
                            <div class="col-12 text-center">
                                <button class="btn oneMusic-btn mt-30" type="submit">Confirm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Carts Area End ##### -->

<% include ../app/footer.ejs %>
</body>
</html>
