<header class="header-area">
    <!-- Navbar Area -->
    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 85px;">
        <div class="oneMusic-main-menu" style="">
            <div class="classy-nav-container breakpoint-off light left">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="/" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu w-lg-100">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">

                                <div class="d-lg-flex align-items-center justify-content-lg-between w-lg-100">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/browse/albums">Browse Music</a></li>
                                    </ul>

                                    <!-- Login/Register & Cart Button -->
                                    <div class="login-register-cart-button d-flex align-items-center">
                                        <!-- Login/Register -->
                                        <div class="login-register-btn mr-50">
                                            <a href="/login" id="loginBtn">Login </a>
                                            <span style="color: #fff;"> / </span>
                                            <a href="/register" id="loginBtn">Register</a>
                                        </div>

                                        <!-- Cart Button -->
                                        <a href="/cart" class="cart-btn marginRight-20">
                                            <p><span class="icon-shopping-cart"></span></p>
                                        </a>

                                        <!-- Profile Button -->
                                        <a href="/profile/collection" class="cart-btn">
                                            <p><span class="icon-user-1"></span></p>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
