<!DOCTYPE html>
<html>
<head>
    <% include ./app/head.ejs %>
</head>
<body>
<!-- ##### Header Area Start ##### -->
<% include ./app/header.ejs %>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/img/bg-img/breadcumb3.jpg); max-height: 200px">

</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Error Area Start ##### -->
<section class="cart-area padding-y-50 padding-y-md-100">
    <div class="container">
        <div class="row">
            <h1 class="col-12 text-center font-size-60"><%= error.status %></h1>
            <h1 class="col-12 text-center"><%= message %></h1>
        </div>
    </div>
</section>
<!-- ##### Carts Area End ##### -->

<% include ./app/footer.ejs %>
</body>
</html>
